@import "tailwindcss";

  @keyframes gradient-shift {
    0%, 100% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
  }
  
  .animate-gradient-shift {
    animation: gradient-shift 15s ease infinite;  
    
 
  }